version: "3"

services:
  redis-master:
    image: bitnami/redis:7.0.9
    container_name: redis-master
    environment:
      - REDIS_REPLICATION_MODE=master
      - REDIS_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    networks:
      - backend
    ports:
      - "6379:6379"
    volumes:
      - /opt/volumes/redis-master:/bitnami/redis/data
  redis-worker:
    image: bitnami/redis:7.0.9
    container_name: redis-worker
    environment:
      - REDIS_REPLICATION_MODE=slave
      - REDIS_MASTER_HOST=redis-master
      - REDIS_MASTER_PASSWORD=XLrootJYD713
      - REDIS_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    ports:
      - "6380:6379"
    depends_on:
      - redis-master
    networks:
      - backend
    volumes:
      - /opt/volumes/redis-worker:/bitnami/redis/data
  redis-sentinel:
    image: bitnami/redis-sentinel:7.0.9
    container_name: redis-sentinel
    environment:
      - REDIS_MASTER_HOST=redis-master
      - REDIS_MASTER_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    depends_on:
      - redis-master
      - redis-worker
    ports:
      - "26379:26379"
    networks:
      - backend

networks:
  backend:
    external: true
