version: '3'

services:
  mongodb:
    container_name: mongodb
    image: bitnami/mongodb:6.0.4
    networks:
      - backend
    environment:
      - MONGODB_ROOT_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    ports:
      - '27017:27017'
    volumes:
      - /opt/volumes/mongodb:/bitnami/mongodb/data

networks:
  backend:
    external: true
