version: '3'

services:
  debian:
    image: debian:bullseye-20230320
    container_name: debian
    networks:
      - backend
    tty: true
    environment:
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
