version: '3'
services:

  elasticsearch-node1:
    container_name: elasticsearch-node1
    build: ../ctx
    image: elasticsearch-node
    ports:
      - "9200:9200"
    networks:
      backend:
        ipv4_address: 172.18.255.101
    volumes:
      - /opt/volumes/elasticsearch-node1:/bitnami/elasticsearch/data
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-node1,elasticsearch-node2,elasticsearch-node3,elasticsearch-node4
      - ELASTICSEARCH_NODE_NAME=elasticsearch-node1
      - TZ=Asia/Shanghai
  elasticsearch-node2:
    container_name: elasticsearch-node2
    build: ../ctx
    image: elasticsearch-node
    networks:
      backend:
        ipv4_address: 172.18.255.102
    volumes:
      - /opt/volumes/elasticsearch-node2:/bitnami/elasticsearch/data
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-node1,elasticsearch-node2,elasticsearch-node3,elasticsearch-node4
      - ELASTICSEARCH_NODE_NAME=elasticsearch-node2
      - TZ=Asia/Shanghai
  elasticsearch-node3:
    container_name: elasticsearch-node3
    build: ../ctx
    image: elasticsearch-node
    networks:
      backend:
        ipv4_address: 172.18.255.103
    volumes:
      - /opt/volumes/elasticsearch-node3:/bitnami/elasticsearch/data
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-node1,elasticsearch-node2,elasticsearch-node3,elasticsearch-node4
      - ELASTICSEARCH_NODE_NAME=elasticsearch-node3
      - TZ=Asia/Shanghai
  elasticsearch-node4:
    container_name: elasticsearch-node4
    build: ../ctx
    image: elasticsearch-node
    networks:
      backend:
        ipv4_address: 172.18.255.104
    volumes:
      - /opt/volumes/elasticsearch-node4:/bitnami/elasticsearch/data
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-node1,elasticsearch-node2,elasticsearch-node3,elasticsearch-node4
      - ELASTICSEARCH_NODE_NAME=elasticsearch-node4
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
