version: '3'

services:
  elasticsearch-cluster1:
    image: bitnami/elasticsearch:7.17.0
    container_name: elasticsearch-cluster1
    hostname: elasticsearch-cluster1
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-cluster1,elasticsearch-cluster2,elasticsearch-cluster3,elasticsearch-cluster4
      - ELASTICSEARCH_NODE_NAME=elasticsearch-cluster1
      - TZ=Asia/Shanghai
    volumes:
      - ../plugins/elasticsearch-analysis-ik-7.17.0.zip:/bitnami/elasticsearch/plugins/analysis-ik-7.17.0.zip
      - /opt/volumes/elasticsearch-cluster1:/bitnami/elasticsearch/data
    ports:
      - "9200:9200"
    networks:
      - backend
  elasticsearch-cluster2:
    image: bitnami/elasticsearch:7.17.0
    container_name: elasticsearch-cluster2
    hostname: elasticsearch-cluster2
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-cluster1,elasticsearch-cluster2,elasticsearch-cluster3,elasticsearch-cluster4
      - ELASTICSEARCH_NODE_NAME=elasticsearch-cluster2
      - TZ=Asia/Shanghai
    volumes:
      - ../plugins/elasticsearch-analysis-ik-7.17.0.zip:/bitnami/elasticsearch/plugins/analysis-ik-7.17.0.zip
      - /opt/volumes/elasticsearch-cluster2:/bitnami/elasticsearch/data
    ports:
      - "9201:9200"
    networks:
      - backend
  elasticsearch-cluster3:
    image: bitnami/elasticsearch:7.17.0
    container_name: elasticsearch-cluster3
    hostname: elasticsearch-cluster3
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-cluster1,elasticsearch-cluster2,elasticsearch-cluster3,elasticsearch-cluster4
      - ELASTICSEARCH_NODE_NAME=elasticsearch-cluster3
      - TZ=Asia/Shanghai
    volumes:
      - ../plugins/elasticsearch-analysis-ik-7.17.0.zip:/bitnami/elasticsearch/plugins/analysis-ik-7.17.0.zip
      - /opt/volumes/elasticsearch-cluster3:/bitnami/elasticsearch/data
    ports:
      - "9202:9200"
    networks:
      - backend
  elasticsearch-cluster4:
    image: bitnami/elasticsearch:7.17.0
    container_name: elasticsearch-cluster4
    hostname: elasticsearch-cluster4
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-cluster1,elasticsearch-cluster2,elasticsearch-cluster3,elasticsearch-cluster4
      - ELASTICSEARCH_NODE_NAME=elasticsearch-cluster4
      - TZ=Asia/Shanghai
    volumes:
      - ../plugins/elasticsearch-analysis-ik-7.17.0.zip:/bitnami/elasticsearch/plugins/analysis-ik-7.17.0.zip
      - /opt/volumes/elasticsearch-cluster4:/bitnami/elasticsearch/data
    ports:
      - "9203:9200"
    networks:
      - backend
  elasticsearch-kibana:
    image: bitnami/kibana:7.17.0
    container_name: elasticsearch-kibana
    hostname: elasticsearch-kibana
    environment:
      - KIBANA_ELASTICSEARCH_URL=elasticsearch-cluster1
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/elasticsearch-kibana:/bitnami/kibana/data
    ports:
      - "5601:5601"
    networks:
      - backend
    depends_on:
      - elasticsearch-cluster1
      - elasticsearch-cluster2
      - elasticsearch-cluster3
      - elasticsearch-cluster4

networks:
  backend:
    external: true
