version: '3'

services:
  redis:
    image: bitnami/redis:7.0.10
    container_name: redis
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    networks:
      - backend
    ports:
      - '6379:6379'
    volumes:
      - /opt/volumes/redis:/bitnami/redis/data

networks:
  backend:
    external: true
