version: "3"

services:
  redis-single:
    image: bitnami/redis:7.0.4
    container_name: redis-single
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    networks:
      - backend
    ports:
      - "6379:6379"
    volumes:
      - /opt/volumes/redis-single:/bitnami/redis/data

networks:
  backend:
    external: true
