version: '3'

services:
  clickhouse-single:
    container_name: clickhouse-single
    image: yandex/clickhouse-server:21.8.10.19
    networks:
      - backend
    ports:
      - "8123:8123"
      - "9000:9000"
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - /opt/volumes/clickhouse-single/lib:/var/lib/clickhouse
      - /opt/volumes/clickhouse-single/log:/var/log/clickhouse-server
    environment:
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
