version: '3'
services:

  kafka-zookeeper:
    container_name: kafka-zookeeper
    image: bitnami/zookeeper:3.7.0
    networks:
      - backend
    volumes:
      - /opt/volumes/kafka-zookeeper:/bitnami/zookeeper/data
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
      - TZ=Asia/Shanghai
      - ZOO_SERVER_ID=1
      - ZOO_SERVERS=kafka-zookeeper:2888:3888
  kafka-single:
    container_name: kafka-single
    image: bitnami/kafka:3.1.0
    networks:
      - backend
    depends_on:
      - kafka-zookeeper
    ports:
      - '9092:9092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://${IP}:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=kafka-zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/kafka-single:/bitnami/kafka/data

networks:
  backend:
    external: true
