version: '3'
services:

  kafka:
    container_name: kafka-node
    image: bitnami/kafka:3.3.2
    networks:
      - backend
    ports:
      - '9092:9092'
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=CONTROLLER://:9093,CLIENT://:9094,EXTERNAL://0.0.0.0:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka:9094,EXTERNAL://101.43.84.169:9092
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/kafka:/bitnami/kafka

networks:
  backend:
    external: true
