version: '3'

services:
  minio-node:
    image: bitnami/minio:2023.3.22
    container_name: minio-node
    networks:
      - backend
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
      - MINIO_DEFAULT_BUCKETS=public:public
    volumes:
      - /opt/volumes/minio-node:/data

networks:
  backend:
    external: true
