version: '3'
services:

  gitlab:
    image: gitlab/gitlab-ce:15.11.2-ce.0
    container_name: gitlab
    networks:
      - backend
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        gitlab_rails['time_zone'] = 'Beijing'
      TZ: Asia/Shanghai
    ports:
      #      - '443:443'
      - '8076:80'
    #      - '22:22'
    volumes:
      - gitlab-config:/etc/gitlab
      - gitlab-logs:/var/log/gitlab
      - gitlab-data:/var/opt/gitlab

networks:
  backend:
    external: true

volumes:
  gitlab-config:
  gitlab-logs:
  gitlab-data:
