version: '3'

services:
  gitlab:
    image: gitlab/gitlab-ce:15.3.3-ce.0
    container_name: gitlab
    hostname: gitlab
    networks:
      - backend
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        gitlab_rails['time_zone'] = 'Beijing'
      TZ: Asia/Shanghai
    ports:
      #      - '443:443'
      - '8076:80'
    #      - '22:22'
    volumes:
      - /opt/volumes/gitlab/config:/etc/gitlab
      - /opt/volumes/gitlab/logs:/var/log/gitlab
      - /opt/volumes/gitlab/data:/var/opt/gitlab

networks:
  backend:
    external: true
