version: '3'

services:
  camunda:
    image: camunda/camunda-bpm-platform:run-7.18.0
    container_name: camunda
    environment:
      - DB_DRIVER=com.mysql.cj.jdbc.Driver
      - DB_URL=jdbc:mysql://mysql-master:3306/camunda?autoReconnect=true
      - DB_USERNAME=root
      - DB_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
      - WAIT_FOR=mysql-master:3306
    ports:
      - '8077:8080'
    networks:
      - backend

networks:
  backend:
    external: true
