version: '3'
services:

  camunda:
    container_name: camunda
    image: camunda/camunda-bpm-platform:run-7.19.0
    ports:
      - '8077:8080'
    networks:
      - backend
    environment:
      - DB_DRIVER=com.mysql.cj.jdbc.Driver
      - DB_URL=jdbc:mysql://mysql-master:3306/camunda?autoReconnect=true&nullCatalogMeansCurrent=true
      - DB_USERNAME=root
      - DB_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
      - WAIT_FOR=mysql-master:3306

networks:
  backend:
    external: true
