version: "3"
services:

  nacos-cluster0:
    image: nacos/nacos-server:v2.0.3
    container_name: nacos-cluster0
    hostname: nacos-cluster0
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-cluster0/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9555:9555"
    env_file:
      - ./env/nacos-hostname.env
    restart: always
    external_links:
      - mysql-master

  nacos-cluster1:
    image: nacos/nacos-server:v2.0.3
    container_name: nacos-cluster1
    hostname: nacos-cluster1
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-cluster1/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8849:8848"
      - "9849:9848"
    env_file:
      - ./env/nacos-hostname.env
    restart: always
    external_links:
      - mysql-master

  nacos-cluster2:
    image: nacos/nacos-server:v2.0.3
    container_name: nacos-cluster2
    hostname: nacos-cluster2
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-cluster2/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8850:8848"
      - "9850:9848"
    env_file:
      - ./env/nacos-hostname.env
    restart: always
    external_links:
      - mysql-master

networks:
  backend:
    external: true
