version: '3'
services:

  alma:
    image: almalinux:8.7-20230222
    container_name: alma
    environment:
      - TZ=Asia/Shanghai
    networks:
      - backend
    tty: true

networks:
  backend:
    external: true
