version: '3'

services:
  alma:
    image: almalinux:8.6-20221001
    container_name: alma
    hostname: alma
    environment:
      - TZ=Asia/Shanghai
    networks:
      - backend
    tty: true

networks:
  backend:
    external: true
