version: '3'

services:
  mongodb-sharded:
    container_name: mongodb-sharded
    image: bitnami/mongodb-sharded:6.0.5
    networks:
      - backend
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-sharded
      - MONGODB_SHARDING_MODE=mongos
      - MONGODB_CFG_PRIMARY_HOST=mongodb-cfg
      - MONGODB_CFG_REPLICA_SET_NAME=cfgreplicaset
      - MONGODB_REPLICA_SET_KEY=replicasetkey
      - MONGODB_ROOT_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    ports:
      - '27017:27017'
  mongodb-shard1:
    container_name: mongodb-shard1
    image: bitnami/mongodb-sharded:6.0.5
    networks:
      - backend
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-shard1
      - MONGODB_SHARDING_MODE=shardsvr
      - MONGODB_MONGOS_HOST=mongodb-sharded
      - MONGODB_ROOT_PASSWORD=XLrootJYD713
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_KEY=replicasetkey
      - MONGODB_REPLICA_SET_NAME=shard1
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/mongodb-shard1:/bitnami/mongodb
  mongodb-shard2:
    container_name: mongodb-shard2
    image: bitnami/mongodb-sharded:6.0.5
    networks:
      - backend
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-shard2
      - MONGODB_SHARDING_MODE=shardsvr
      - MONGODB_MONGOS_HOST=mongodb-sharded
      - MONGODB_ROOT_PASSWORD=XLrootJYD713
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_KEY=replicasetkey
      - MONGODB_REPLICA_SET_NAME=shard2
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/mongodb-shard2:/bitnami/mongodb
  mongodb-shard3:
    container_name: mongodb-shard3
    image: bitnami/mongodb-sharded:6.0.5
    networks:
      - backend
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-shard3
      - MONGODB_SHARDING_MODE=shardsvr
      - MONGODB_MONGOS_HOST=mongodb-sharded
      - MONGODB_ROOT_PASSWORD=XLrootJYD713
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_KEY=replicasetkey
      - MONGODB_REPLICA_SET_NAME=shard3
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/mongodb-shard3:/bitnami/mongodb
  mongodb-cfg:
    container_name: mongodb-cfg
    image: bitnami/mongodb-sharded:6.0.5
    networks:
      - backend
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-cfg
      - MONGODB_SHARDING_MODE=configsvr
      - MONGODB_ROOT_PASSWORD=XLrootJYD713
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_KEY=replicasetkey
      - MONGODB_REPLICA_SET_NAME=cfgreplicaset
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/mongodb-cfg:/bitnami/mongodb

networks:
  backend:
    external: true
