version: '3'

services:
  postgresql-node1:
    image: bitnami/postgresql-repmgr:15.1.0
    container_name: postgresql-node1
    networks:
      - backend
    ports:
      - '5432:5432'
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=XLrootJYD713
      - POSTGRESQL_USERNAME=pg
      - POSTGRESQL_PASSWORD=XLrootJYD713
      - POSTGRESQL_DATABASE=pg
      - REPMGR_PASSWORD=XLrootJYD713
      - REPMGR_PRIMARY_HOST=postgresql-node1
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES=postgresql-node1,postgresql-node2
      - REPMGR_NODE_NAME=postgresql-node1
      - REPMGR_NODE_NETWORK_NAME=postgresql-node1
      - REPMGR_PORT_NUMBER=5432
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/postgresql-node1:/bitnami/postgresql/data
      - ../conf/:/bitnami/postgresql/conf/conf.d/
  postgresql-node2:
    image: bitnami/postgresql-repmgr:15.1.0
    container_name: postgresql-node2
    networks:
      - backend
    ports:
      - '5433:5432'
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=XLrootJYD713
      - POSTGRESQL_USERNAME=pg
      - POSTGRESQL_PASSWORD=XLrootJYD713
      - POSTGRESQL_DATABASE=pg
      - REPMGR_PASSWORD=XLrootJYD713
      - REPMGR_PRIMARY_HOST=postgresql-node1
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES=postgresql-node1,postgresql-node2
      - REPMGR_NODE_NAME=postgresql-node2
      - REPMGR_NODE_NETWORK_NAME=postgresql-node2
      - REPMGR_PORT_NUMBER=5432
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/postgresql-node2:/bitnami/postgresql/data
      - ../conf/:/bitnami/postgresql/conf/conf.d/

networks:
  backend:
    external: true
