version: '3'

services:
  postgresql-repmgr1:
    image: bitnami/postgresql-repmgr:14.4.0
    container_name: postgresql-repmgr1
    networks:
      - backend
    ports:
      - '5432:5432'
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=XLrootJYD713
      - POSTGRESQL_USERNAME=pg
      - POSTGRESQL_PASSWORD=XLrootJYD713
      - POSTGRESQL_DATABASE=pg
      - REPMGR_PASSWORD=XLrootJYD713
      - REPMGR_PRIMARY_HOST=postgresql-repmgr1
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES=postgresql-repmgr1,postgresql-repmgr2,postgresql-repmgr3,postgresql-repmgr4:5432
      - REPMGR_NODE_NAME=postgresql-repmgr1
      - REPMGR_NODE_NETWORK_NAME=postgresql-repmgr1
      - REPMGR_PORT_NUMBER=5432
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/postgresql-repmgr1:/bitnami/postgresql/data
      - ../conf/:/bitnami/postgresql/conf/conf.d/
  postgresql-repmgr2:
    image: bitnami/postgresql-repmgr:14.4.0
    container_name: postgresql-repmgr2
    networks:
      - backend
    ports:
      - '5433:5432'
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=XLrootJYD713
      - POSTGRESQL_USERNAME=pg
      - POSTGRESQL_PASSWORD=XLrootJYD713
      - POSTGRESQL_DATABASE=pg
      - REPMGR_PASSWORD=XLrootJYD713
      - REPMGR_PRIMARY_HOST=postgresql-repmgr1
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES=postgresql-repmgr1,postgresql-repmgr2,postgresql-repmgr3,postgresql-repmgr4:5432
      - REPMGR_NODE_NAME=postgresql-repmgr2
      - REPMGR_NODE_NETWORK_NAME=postgresql-repmgr2
      - REPMGR_PORT_NUMBER=5432
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/postgresql-repmgr2:/bitnami/postgresql/data
      - ../conf/:/bitnami/postgresql/conf/conf.d/
  postgresql-repmgr3:
    image: bitnami/postgresql-repmgr:14.4.0
    container_name: postgresql-repmgr3
    networks:
      - backend
    ports:
      - '5434:5432'
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=XLrootJYD713
      - POSTGRESQL_USERNAME=pg
      - POSTGRESQL_PASSWORD=XLrootJYD713
      - POSTGRESQL_DATABASE=pg
      - REPMGR_PASSWORD=XLrootJYD713
      - REPMGR_PRIMARY_HOST=postgresql-repmgr1
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES=postgresql-repmgr1,postgresql-repmgr2,postgresql-repmgr3,postgresql-repmgr4:5432
      - REPMGR_NODE_NAME=postgresql-repmgr3
      - REPMGR_NODE_NETWORK_NAME=postgresql-repmgr3
      - REPMGR_PORT_NUMBER=5432
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/postgresql-repmgr3:/bitnami/postgresql/data
      - ../conf/:/bitnami/postgresql/conf/conf.d/
  postgresql-repmgr4:
    image: bitnami/postgresql-repmgr:14.4.0
    container_name: postgresql-repmgr4
    networks:
      - backend
    ports:
      - '5435:5432'
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=XLrootJYD713
      - POSTGRESQL_USERNAME=pg
      - POSTGRESQL_PASSWORD=XLrootJYD713
      - POSTGRESQL_DATABASE=pg
      - REPMGR_PASSWORD=XLrootJYD713
      - REPMGR_PRIMARY_HOST=postgresql-repmgr1
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES=postgresql-repmgr1,postgresql-repmgr2,postgresql-repmgr3,postgresql-repmgr4:5432
      - REPMGR_NODE_NAME=postgresql-repmgr4
      - REPMGR_NODE_NETWORK_NAME=postgresql-repmgr4
      - REPMGR_PORT_NUMBER=5432
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/postgresql-repmgr4:/bitnami/postgresql/data
      - ../conf/:/bitnami/postgresql/conf/conf.d/

networks:
  backend:
    external: true
