version: '3'
services:

  postgresql:
    image: bitnami/postgresql:15.2.0
    container_name: postgresql
    networks:
      - backend
    ports:
      - '5432:5432'
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=XLrootJYD713
      - POSTGRESQL_USERNAME=pg
      - POSTGRESQL_PASSWORD=XLrootJYD713
      - POSTGRESQL_DATABASE=pg
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/postgresql:/bitnami/postgresql
      - ./conf/:/bitnami/postgresql/conf/conf.d/

networks:
  backend:
    external: true
