version: '3'
services:

  nginx:
    container_name: nginx
    image: bitnami/nginx:1.24.0
    ports:
      - '80:8080'
    networks:
      - backend
    volumes:
      - ./conf/my_server_block.conf:/opt/bitnami/nginx/conf/server_blocks/my_server_block.conf:ro
      - ./app:/app
    environment:
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
