version: '3'
services:

  nginx-node:
    container_name: nginx-node
    image: bitnami/nginx:1.23.4
    ports:
      - '80:8080'
    networks:
      - backend
    volumes:
      - ./conf/my_server_block.conf:/opt/bitnami/nginx/conf/server_blocks/my_server_block.conf:ro
      - /data/frontend:/app
    environment:
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
