version: '3'
services:

  flink-jobmanager:
    build: ../ctx
    image: flink-cluster
    container_name: flink-jobmanager
    ports:
      - "8079:8081"
    networks:
      - backend
    command: jobmanager
    volumes:
      - /opt/volumes/flink-jobmanager/checkpoints:/opt/checkpoints
      - /opt/volumes/flink-jobmanager/savepoints:/opt/savepoints
      - /opt/volumes/flink-jobmanager/jars:/opt/jars
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/flink/savepoints
        web.tmpdir: /opt/jars
  flink-taskmanager1:
    build: ../ctx
    image: flink-cluster
    container_name: flink-taskmanager1
    depends_on:
      - flink-jobmanager
    networks:
      - backend
    command: taskmanager
    volumes:
      - /opt/volumes/flink-taskmanager1/checkpoints:/opt/checkpoints
      - /opt/volumes/flink-taskmanager1/savepoints:/opt/savepoints
      - /opt/volumes/flink-taskmanager1/jars:/opt/jars
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 32
        taskmanager.memory.process.size: 1G
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/flink/savepoints
        web.tmpdir: /opt/jars
  flink-taskmanager2:
    build: ../ctx
    image: flink-cluster
    container_name: flink-taskmanager2
    depends_on:
      - flink-jobmanager
    networks:
      - backend
    command: taskmanager
    volumes:
      - /opt/volumes/flink-taskmanager2/checkpoints:/opt/checkpoints
      - /opt/volumes/flink-taskmanager2/savepoints:/opt/savepoints
      - /opt/volumes/flink-taskmanager2/jars:/opt/jars
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 32
        taskmanager.memory.process.size: 1G
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/flink/savepoints
        web.tmpdir: /opt/jars
  flink-taskmanager3:
    build: ../ctx
    image: flink-cluster
    container_name: flink-taskmanager3
    depends_on:
      - flink-jobmanager
    networks:
      - backend
    command: taskmanager
    volumes:
      - /opt/volumes/flink-taskmanager3/checkpoints:/opt/checkpoints
      - /opt/volumes/flink-taskmanager3/savepoints:/opt/savepoints
      - /opt/volumes/flink-taskmanager3/jars:/opt/jars
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 32
        taskmanager.memory.process.size: 1G
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/flink/savepoints
        web.tmpdir: /opt/jars
  flink-taskmanager4:
    build: ../ctx
    image: flink-cluster
    container_name: flink-taskmanager4
    depends_on:
      - flink-jobmanager
    networks:
      - backend
    command: taskmanager
    volumes:
      - /opt/volumes/flink-taskmanager4/checkpoints:/opt/checkpoints
      - /opt/volumes/flink-taskmanager4/savepoints:/opt/savepoints
      - /opt/volumes/flink-taskmanager4/jars:/opt/jars
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 32
        taskmanager.memory.process.size: 1G
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/flink/savepoints
        web.tmpdir: /opt/jars

networks:
  backend:
    external: true
