version: '3'

services:
  flink-jobmanager:
    build: ../ctx
    container_name: flink-jobmanager
    hostname: flink-jobmanager
    ports:
      - "8079:8081"
    networks:
      - backend
    command: jobmanager
    volumes:
      - /opt/volumes/flink/checkpoints:/opt/checkpoints
      - /opt/volumes/flink/savepoints:/opt/savepoints
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/savepoints

  flink-taskmanager1:
    build: ../ctx
    container_name: flink-taskmanager1
    hostname: flink-taskmanager1
    depends_on:
      - flink-jobmanager
    networks:
      - backend
    command: taskmanager
    volumes:
      - /opt/volumes/flink/checkpoints:/opt/checkpoints
      - /opt/volumes/flink/savepoints:/opt/savepoints
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: ${NUM}
        taskmanager.memory.process.size: ${MEM}G
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/savepoints

  flink-taskmanager2:
    build: ../ctx
    container_name: flink-taskmanager2
    hostname: flink-taskmanager2
    depends_on:
      - flink-jobmanager
    networks:
      - backend
    command: taskmanager
    volumes:
      - /opt/volumes/flink/checkpoints:/opt/checkpoints
      - /opt/volumes/flink/savepoints:/opt/savepoints
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: ${NUM}
        taskmanager.memory.process.size: ${MEM}G
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/savepoints

  flink-taskmanager3:
    build: ../ctx
    container_name: flink-taskmanager3
    hostname: flink-taskmanager3
    depends_on:
      - flink-jobmanager
    networks:
      - backend
    command: taskmanager
    volumes:
      - /opt/volumes/flink/checkpoints:/opt/checkpoints
      - /opt/volumes/flink/savepoints:/opt/savepoints
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: ${NUM}
        taskmanager.memory.process.size: ${MEM}G
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/savepoints

  flink-taskmanager4:
    build: ../ctx
    container_name: flink-taskmanager4
    hostname: flink-taskmanager4
    depends_on:
      - flink-jobmanager
    networks:
      - backend
    command: taskmanager
    volumes:
      - /opt/volumes/flink/checkpoints:/opt/checkpoints
      - /opt/volumes/flink/savepoints:/opt/savepoints
    environment:
      - TZ=Asia/Shanghai
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: ${NUM}
        taskmanager.memory.process.size: ${MEM}G
        execution.checkpointing.interval: 300s
        state.checkpoints.num-retained: 20
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.externalized-checkpoint-retention: RETAIN_ON_CANCELLATION
        state.backend: filesystem
        state.checkpoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/checkpoints
        state.savepoints.dir: hdfs://hdfs-namenode:8020/hadoop/dfs/flink/savepoints

networks:
  backend:
    external: true
