version: '3'

services:
  nacos:
    image: nacos/nacos-server:v2.2.1
    container_name: nacos
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - '8848:8848'
      - '9848:9848'
    env_file:
      - ./env/nacos-hostname.env

networks:
  backend:
    external: true
