version: '3'
services:

  minio-node1:
    container_name: minio-node1
    image: bitnami/minio:2023.3.24
    ports:
      - '9000:9000'
      - '9001:9001'
    networks:
      - backend
    volumes:
      - /opt/volumes/minio-node1:/data1
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES=minio-node1,minio-node2,minio-node3,minio-node4
      - MINIO_SKIP_CLIENT=yes
      - MINIO_DEFAULT_BUCKETS=public:public
      - TZ=Asia/Shanghai
  minio-node2:
    container_name: minio-node2
    image: bitnami/minio:2023.3.24
    networks:
      - backend
    volumes:
      - /opt/volumes/minio-node2:/data2
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES=minio-node1,minio-node2,minio-node3,minio-node4
      - MINIO_SKIP_CLIENT=yes
      - MINIO_DEFAULT_BUCKETS=public:public
      - TZ=Asia/Shanghai
  minio-node3:
    image: bitnami/minio:2023.3.24
    container_name: minio-node3
    networks:
      - backend
    volumes:
      - /opt/volumes/minio-node3:/data3
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES=minio-node1,minio-node2,minio-node3,minio-node4
      - MINIO_SKIP_CLIENT=yes
      - MINIO_DEFAULT_BUCKETS=public:public
      - TZ=Asia/Shanghai
  minio-node4:
    image: bitnami/minio:2023.3.24
    container_name: minio-node4
    networks:
      - backend
    volumes:
      - /opt/volumes/minio-node4:/data4
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES=minio-node1,minio-node2,minio-node3,minio-node4
      - MINIO_SKIP_CLIENT=yes
      - MINIO_DEFAULT_BUCKETS=public:public
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
