version: '3'

services:
  minio-master:
    image: bitnami/minio:2022.10.8
    container_name: minio-master
    networks:
      - backend
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES=minio-master,minio-node2,minio-node3,minio-node4
      - MINIO_SKIP_CLIENT=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/minio-master:/data0
  minio-node2:
    image: bitnami/minio:2022.10.8
    container_name: minio-node2
    networks:
      - backend
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES=minio-master,minio-node2,minio-node3,minio-node4
      - MINIO_SKIP_CLIENT=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/minio-node2:/data1
  minio-node3:
    image: bitnami/minio:2022.10.8
    container_name: minio-node3
    networks:
      - backend
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES=minio-master,minio-node2,minio-node3,minio-node4
      - MINIO_SKIP_CLIENT=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/minio-node3:/data2
  minio-node4:
    image: bitnami/minio:2022.10.8
    container_name: minio-node4
    networks:
      - backend
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=XLrootJYD713
      - MINIO_DISTRIBUTED_MODE_ENABLED=yes
      - MINIO_DISTRIBUTED_NODES=minio-master,minio-node2,minio-node3,minio-node4
      - MINIO_SKIP_CLIENT=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/minio-node4:/data3

networks:
  backend:
    external: true
