version: '3'

services:
  elasticsearch-single:
    image: bitnami/elasticsearch:8.4.1
    container_name: elasticsearch-single
    hostname: elasticsearch-single
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./plugins/elasticsearch-analysis-ik-8.4.1.zip:/bitnami/elasticsearch/plugins/analysis-ik-8.4.1.zip
      - /opt/volumes/elasticsearch-single:/bitnami/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - backend

networks:
  backend:
    external: true
