version: '3'

services:
  elasticsearch:
    image: bitnami/elasticsearch:8.6.1
    container_name: elasticsearch
    hostname: elasticsearch
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./plugins/elasticsearch-analysis-ik-8.6.1.zip:/bitnami/elasticsearch/plugins/analysis-ik-8.6.1.zip
      - /opt/volumes/elasticsearch:/bitnami/elasticsearch/data
    ports:
      - '9200:9200'
      - '9300:9300'
    networks:
      - backend

networks:
  backend:
    external: true
