version: "3"

services:
  nacos-cluster1:
    image: nacos/nacos-server:v2.1.1
    container_name: nacos-cluster1
    hostname: nacos-cluster1
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-cluster1/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9555:9555"
    env_file:
      - ./env/nacos-hostname.env

  nacos-cluster2:
    image: nacos/nacos-server:v2.1.1
    container_name: nacos-cluster2
    hostname: nacos-cluster2
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-cluster2/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8849:8848"
      - "9849:9848"
    env_file:
      - ./env/nacos-hostname.env

  nacos-cluster3:
    image: nacos/nacos-server:v2.1.1
    container_name: nacos-cluster3
    hostname: nacos-cluster3
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-cluster3/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8850:8848"
      - "9850:9848"
    env_file:
      - ./env/nacos-hostname.env

  nacos-cluster4:
    image: nacos/nacos-server:v2.1.1
    container_name: nacos-cluster4
    hostname: nacos-cluster4
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-cluster4/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8851:8848"
      - "9851:9848"
    env_file:
      - ./env/nacos-hostname.env

networks:
  backend:
    external: true
