version: '3'
services:

  nacos-node1:
    container_name: nacos-node1
    image: nacos/nacos-server:v2.2.1
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9555:9555"
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-node1/logs:/home/nacos/logs
    env_file:
      - ./env/nacos-hostname.env
  nacos-node2:
    container_name: nacos-node2
    image: nacos/nacos-server:v2.2.1
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-node2/logs:/home/nacos/logs
    env_file:
      - ./env/nacos-hostname.env
  nacos-node3:
    container_name: nacos-node3
    image: nacos/nacos-server:v2.2.1
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-node3/logs:/home/nacos/logs
    env_file:
      - ./env/nacos-hostname.env
  nacos-node4:
    container_name: nacos-node4
    image: nacos/nacos-server:v2.2.1
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-node4/logs:/home/nacos/logs
    env_file:
      - ./env/nacos-hostname.env

networks:
  backend:
    external: true
