version: "3"

services:
  nacos-node1:
    image: nacos/nacos-server:v2.1.1
    container_name: nacos-node1
    hostname: nacos-node1
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-node1/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9555:9555"
    env_file:
      - ./env/nacos-hostname.env

  nacos-node2:
    image: nacos/nacos-server:v2.1.1
    container_name: nacos-node2
    hostname: nacos-node2
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-node2/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    env_file:
      - ./env/nacos-hostname.env

  nacos-node3:
    image: nacos/nacos-server:v2.1.1
    container_name: nacos-node3
    hostname: nacos-node3
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-node3/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    env_file:
      - ./env/nacos-hostname.env

  nacos-node4:
    image: nacos/nacos-server:v2.1.1
    container_name: nacos-node4
    hostname: nacos-node4
    networks:
      - backend
    volumes:
      - /opt/volumes/nacos-node4/logs:/home/nacos/logs
      - ./init.d/custom.properties:/home/nacos/init.d/custom.properties
    env_file:
      - ./env/nacos-hostname.env

networks:
  backend:
    external: true
