version: '3'
services:

  rabbitmq-stats:
    container_name: rabbitmq-stats
    image: bitnami/rabbitmq:3.11.13
    ports:
      - '4369:4369'
      - '5672:5672'
      - '25672:25672'
      - '15672:15672'
    networks:
      - backend
    volumes:
      - /opt/volumes/rabbitmq-stats:/bitnami/rabbitmq
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=stats
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
  rabbitmq-disc:
    container_name: rabbitmq-disc
    image: bitnami/rabbitmq:3.11.13
    networks:
      - backend
    volumes:
      - /opt/volumes/rabbitmq-disc:/bitnami/rabbitmq
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=queue-disc
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-disc
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
  rabbitmq-ram:
    container_name: rabbitmq-ram
    image: bitnami/rabbitmq:3.11.13
    networks:
      - backend
    volumes:
      - /opt/volumes/rabbitmq-ram:/bitnami/rabbitmq
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=queue-ram
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-ram
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
