version: '3'

services:
  rabbitmq-stats:
    image: bitnami/rabbitmq:3.10.7
    container_name: rabbitmq-stats
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=stats
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
    ports:
      - '4369:4369'
      - '5672:5672'
      - '25672:25672'
      - '15672:15672'
    volumes:
      - /opt/volumes/rabbitmq-stats:/bitnami/rabbitmq/mnesia
  rabbitmq-disc1:
    image: bitnami/rabbitmq:3.10.7
    container_name: rabbitmq-disc1
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=queue-disc
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-disc1
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/rabbitmq-disc1:/bitnami/rabbitmq/mnesia
  rabbitmq-disc2:
    image: bitnami/rabbitmq:3.10.7
    container_name: rabbitmq-disc2
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=queue-disc
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-disc2
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/rabbitmq-disc2:/bitnami/rabbitmq/mnesia
  rabbitmq-ram1:
    image: bitnami/rabbitmq:3.10.7
    container_name: rabbitmq-ram1
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=queue-ram
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-ram1
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/rabbitmq-ram1:/bitnami/rabbitmq/mnesia
  rabbitmq-ram2:
    image: bitnami/rabbitmq:3.10.7
    container_name: rabbitmq-ram2
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=queue-ram
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-ram2
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/rabbitmq-ram2:/bitnami/rabbitmq/mnesia

networks:
  backend:
    external: true
