version: '3'

services:
  rabbitmq-stats:
    image: bitnami/rabbitmq:3.11.10
    container_name: rabbitmq-stats
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=stats
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
    ports:
      - '4369:4369'
      - '5672:5672'
      - '25672:25672'
      - '15672:15672'
    volumes:
      - /opt/volumes/rabbitmq-stats:/bitnami/rabbitmq/mnesia
  rabbitmq-disc:
    image: bitnami/rabbitmq:3.11.10
    container_name: rabbitmq-disc
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=queue-disc
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-disc
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/rabbitmq-disc:/bitnami/rabbitmq/mnesia
  rabbitmq-ram:
    image: bitnami/rabbitmq:3.11.10
    container_name: rabbitmq-ram
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - RABBITMQ_NODE_TYPE=queue-ram
      - RABBITMQ_NODE_NAME=rabbit@rabbitmq-ram
      - RABBITMQ_CLUSTER_NODE_NAME=rabbit@rabbitmq-stats
      - RABBITMQ_ERL_COOKIE=XLrootJYD713
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/rabbitmq-ram:/bitnami/rabbitmq/mnesia

networks:
  backend:
    external: true
