version: '3'

services:
  mariadb:
    image: bitnami/mariadb:10.9.4
    container_name: mariadb
    networks:
      - backend
    ports:
      - '3306:3306'
    volumes:
      - ./conf/my_custom.cnf:/opt/bitnami/mariadb/conf/my_custom.cnf:ro
      - /opt/volumes/mariadb:/bitnami/mariadb/data
    environment:
      - MARIADB_ROOT_PASSWORD=XLrootJYD713
      - MARIADB_USER=my
      - MARIADB_PASSWORD=XLrootJYD713
      - MARIADB_DATABASE=my
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_unicode_ci
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
