version: '3'

services:
  mariadb-master:
    image: bitnami/mariadb:10.8.3
    container_name: mariadb-master
    networks:
      - backend
    ports:
      - '3306:3306'
    volumes:
      - ../conf/my_custom.cnf:/opt/bitnami/mariadb/conf/my_custom.cnf:ro
      - /opt/volumes/mariadb-master:/bitnami/mariadb/data
    environment:
      - MARIADB_REPLICATION_MODE=master
      - MARIADB_REPLICATION_USER=repl_user
      - MARIADB_REPLICATION_PASSWORD=XLrootJYD713
      - MARIADB_ROOT_PASSWORD=XLrootJYD713
      - MARIADB_USER=my
      - MARIADB_PASSWORD=XLrootJYD713
      - MARIADB_DATABASE=my
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_general_ci
      - TZ=Asia/Shanghai
  mariadb-slave1:
    image: bitnami/mariadb:10.8.3
    container_name: mariadb-slave1
    networks:
      - backend
    ports:
      - '3307:3306'
    volumes:
      - ../conf/my_custom.cnf:/opt/bitnami/mariadb/conf/my_custom.cnf:ro
      - /opt/volumes/mariadb-slave1:/bitnami/mariadb/data
    depends_on:
      - mariadb-master
    environment:
      - MARIADB_REPLICATION_MODE=slave
      - MARIADB_REPLICATION_USER=repl_user
      - MARIADB_REPLICATION_PASSWORD=XLrootJYD713
      - MARIADB_MASTER_HOST=mariadb-master
      - MARIADB_MASTER_PORT_NUMBER=3306
      - MARIADB_MASTER_ROOT_PASSWORD=XLrootJYD713
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_general_ci
      - TZ=Asia/Shanghai
  mariadb-slave2:
    image: bitnami/mariadb:10.8.3
    container_name: mariadb-slave2
    networks:
      - backend
    ports:
      - '3308:3306'
    volumes:
      - ../conf/my_custom.cnf:/opt/bitnami/mariadb/conf/my_custom.cnf:ro
      - /opt/volumes/mariadb-slave2:/bitnami/mariadb/data
    depends_on:
      - mariadb-master
    environment:
      - MARIADB_REPLICATION_MODE=slave
      - MARIADB_REPLICATION_USER=repl_user
      - MARIADB_REPLICATION_PASSWORD=XLrootJYD713
      - MARIADB_MASTER_HOST=mariadb-master
      - MARIADB_MASTER_PORT_NUMBER=3306
      - MARIADB_MASTER_ROOT_PASSWORD=XLrootJYD713
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_general_ci
      - TZ=Asia/Shanghai
  mariadb-slave3:
    image: bitnami/mariadb:10.8.3
    container_name: mariadb-slave3
    networks:
      - backend
    ports:
      - '3309:3306'
    volumes:
      - ../conf/my_custom.cnf:/opt/bitnami/mariadb/conf/my_custom.cnf:ro
      - /opt/volumes/mariadb-slave3:/bitnami/mariadb/data
    depends_on:
      - mariadb-master
    environment:
      - MARIADB_REPLICATION_MODE=slave
      - MARIADB_REPLICATION_USER=repl_user
      - MARIADB_REPLICATION_PASSWORD=XLrootJYD713
      - MARIADB_MASTER_HOST=mariadb-master
      - MARIADB_MASTER_PORT_NUMBER=3306
      - MARIADB_MASTER_ROOT_PASSWORD=XLrootJYD713
      - MARIADB_CHARACTER_SET=utf8mb4
      - MARIADB_COLLATE=utf8mb4_general_ci
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
