version: '3'
services:

  kafka-node1:
    container_name: kafka-node1
    image: bitnami/kafka:3.1.0
    networks:
      - backend
    ports:
      - '9092:9092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://192.168.196.100:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper-node1:2181,zookeeper-node2:2181,zookeeper-node3:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/kafka-node1:/bitnami/kafka
  kafka-node2:
    container_name: kafka-node2
    image: bitnami/kafka:3.1.0
    networks:
      - backend
    ports:
      - '9093:9092'
    environment:
      - KAFKA_BROKER_ID=2
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://192.168.196.100:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper-node1:2181,zookeeper-node2:2181,zookeeper-node3:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/kafka-node2:/bitnami/kafka
  kafka-node3:
    container_name: kafka-node3
    image: bitnami/kafka:3.1.0
    networks:
      - backend
    ports:
      - '9094:9092'
    environment:
      - KAFKA_BROKER_ID=3
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://192.168.196.100:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper-node1:2181,zookeeper-node2:2181,zookeeper-node3:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/kafka-node3:/bitnami/kafka
  kafka-node4:
    container_name: kafka-node4
    image: bitnami/kafka:3.1.0
    networks:
      - backend
    ports:
      - '9095:9092'
    environment:
      - KAFKA_BROKER_ID=4
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://192.168.196.100:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper-node1:2181,zookeeper-node2:2181,zookeeper-node3:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - TZ=Asia/Shanghai
    volumes:
      - /opt/volumes/kafka-node4:/bitnami/kafka

networks:
  backend:
    external: true
