version: '3'

services:
  flink:
    build: ctx
    container_name: flink
    ports:
      - "8079:8081"
      - "9084:9084"
    networks:
      - backend
    volumes:
      - /opt/volumes/flink/checkpoints:/opt/checkpoints
      - /opt/volumes/flink/savepoints:/opt/savepoints
      - /opt/volumes/flink/jars:/opt/jars
      - /opt/volumes/flink/logs:/data/projects/flink-streaming-platform-web/logs
      - /opt/volumes/flink/conf:/data/projects/flink-streaming-platform-web/conf

networks:
  backend:
    external: true
