version: "2"
services:
  redis-cluster:
    image: bitnami/redis-cluster:7.0.5
    container_name: redis-cluster
    networks:
      - backend
    ports:
      - "6379:6379"
    volumes:
      - /opt/volumes/redis-cluster:/bitnami/redis/data
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - REDIS_NODES=redis-cluster redis-cluster2 redis-cluster3 redis-cluster4 redis-cluster5 redis-cluster6
      - TZ=Asia/Shanghai

  redis-cluster2:
    image: bitnami/redis-cluster:7.0.5
    container_name: redis-cluster2
    networks:
      - backend
    ports:
      - "6380:6379"
    volumes:
      - /opt/volumes/redis-cluster2:/bitnami/redis/data
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - REDIS_NODES=redis-cluster redis-cluster2 redis-cluster3 redis-cluster4 redis-cluster5 redis-cluster6
      - TZ=Asia/Shanghai

  redis-cluster3:
    image: bitnami/redis-cluster:7.0.5
    container_name: redis-cluster3
    networks:
      - backend
    ports:
      - "6381:6379"
    volumes:
      - /opt/volumes/redis-cluster3:/bitnami/redis/data
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - REDIS_NODES=redis-cluster redis-cluster2 redis-cluster3 redis-cluster4 redis-cluster5 redis-cluster6
      - TZ=Asia/Shanghai

  redis-cluster4:
    image: bitnami/redis-cluster:7.0.5
    container_name: redis-cluster4
    networks:
      - backend
    ports:
      - "6382:6379"
    volumes:
      - /opt/volumes/redis-cluster4:/bitnami/redis/data
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - REDIS_NODES=redis-cluster redis-cluster2 redis-cluster3 redis-cluster4 redis-cluster5 redis-cluster6
      - TZ=Asia/Shanghai

  redis-cluster5:
    image: bitnami/redis-cluster:7.0.5
    container_name: redis-cluster5
    networks:
      - backend
    ports:
      - "6383:6379"
    volumes:
      - /opt/volumes/redis-cluster5:/bitnami/redis/data
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - REDIS_NODES=redis-cluster redis-cluster2 redis-cluster3 redis-cluster4 redis-cluster5 redis-cluster6
      - TZ=Asia/Shanghai

  redis-cluster6:
    image: bitnami/redis-cluster:7.0.5
    container_name: redis-cluster6
    networks:
      - backend
    ports:
      - "6384:6379"
    volumes:
      - /opt/volumes/redis-cluster6:/bitnami/redis/data
    depends_on:
      - redis-cluster
      - redis-cluster2
      - redis-cluster3
      - redis-cluster4
      - redis-cluster5
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - REDISCLI_AUTH=XLrootJYD713
      - REDIS_CLUSTER_REPLICAS=1
      - REDIS_NODES=redis-cluster redis-cluster2 redis-cluster3 redis-cluster4 redis-cluster5 redis-cluster6
      - REDIS_CLUSTER_CREATOR=yes
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
