version: "2"
services:
  redis-node1:
    image: bitnami/redis-cluster:7.0.10
    container_name: redis-node1
    networks:
      - backend
    ports:
      - "6379:6379"
    volumes:
      - /opt/volumes/redis-node1:/bitnami/redis/data
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - REDIS_NODES=redis-node1 redis-node2
      - TZ=Asia/Shanghai

  redis-node2:
    image: bitnami/redis-cluster:7.0.10
    container_name: redis-node2
    networks:
      - backend
    ports:
      - "6380:6379"
    volumes:
      - /opt/volumes/redis-node2:/bitnami/redis/data
    environment:
      - REDIS_PASSWORD=XLrootJYD713
      - REDIS_NODES=redis-node1 redis-node2
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
