version: '3'

services:
  rabbitmq-stats:
    image: bitnami/rabbitmq:3.11.11
    container_name: rabbitmq-stats
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - /opt/volumes/rabbitmq:/bitnami

networks:
  backend:
    external: true
