version: '3'

services:
  rabbitmq:
    image: bitnami/rabbitmq:3.11.0
    container_name: rabbitmq
    networks:
      - backend
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai
    ports:
      - '4369:4369'
      - '5672:5672'
      - '25672:25672'
      - '15672:15672'
    volumes:
      - /opt/volumes/rabbitmq:/bitnami/rabbitmq/mnesia

networks:
  backend:
    external: true
