version: '3'
services:

  rabbitmq-node:
    container_name: rabbitmq-node
    image: bitnami/rabbitmq:3.11.13
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - backend
    volumes:
      - /opt/volumes/rabbitmq-node:/bitnami/rabbitmq
    environment:
      - RABBITMQ_USERNAME=root
      - RABBITMQ_PASSWORD=XLrootJYD713
      - TZ=Asia/Shanghai

networks:
  backend:
    external: true
